.projects{
    background-color: var(--color-nav-bg);
    padding: 4rem 0;
    color: var(--text-color);
   
}

.projects-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    
}

.projects h2 {
    text-transform: var(--text-transform);
    font-size: 1.5rem;
}

.cards-container {
    margin-top: 1.7rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    min-width: 18rem;
    overflow: hidden;
    background-color: var(--hero-bg);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    margin: 1.3rem 0;
    border-top: 4px solid var(--icon-color);
}

.card-img {
    width: 100%;
    height: 16rem;
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.card-content {
    padding: 1rem;
    color: #EEEEEE;
}

.card-content h5{
    font-size: 1.2rem;
    text-transform: var(--text-transform);
    font-weight: 600;
    margin-bottom: 0.6rem;
}

.card-content p{
    color: #B4B4B3;
    font-size: 1.1rem;
}


.live-link{
    display: flex;
    gap: 0.6rem;
    align-items: center;
    color: var(--icon-color);
    margin-top: 0.8rem;
    width: fit-content;
    padding: 0.7rem;
    text-transform: var(--text-transform);
    transition: var(--transition);
    font-weight: 600;
    letter-spacing: 1.2px;
    border-radius: var(--border-radius);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.live-link:hover{
    border: 1px solid var(--icon-color);
    color: var(--color-nav-bg);
}

.card-content a i {
    font-size: 1.3rem;
    position: relative;
    top: 0.2rem;
}


.card-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-links i{
   display: block;
}

.github-icon {
    font-size: 2rem;
    position: relative;
    top: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 50%;
    color: var(--icon-color);
}

@media screen and (max-width: 1000px){
    .projects-container {
        align-items: center;
    }

    .cards-container {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.4rem;
    }

    .card {
        width: 75%;
    }

    .card-img {
        width: 100%;
        height: 16rem;
    }
}

