.contact-container {
    padding: 2rem 0;
}

.form-container {
    color: var(--color-nav-bg);
}

.form-container h2{
    font-size: 1.8rem;
}

.form-container h2 span{
    border-bottom: 4px solid var(--icon-color);
}

form {
    margin-top: 1.5rem;
    overflow: hidden;
    width: 64%;
}

.form-control {
    margin: 1.6rem 0;
}

.form-control label{
    display: block;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: var(--text-transform);
}

.form-control input,
.form-control textarea {
    display: block;
    font-size: 1.1rem;
    font-family: inherit;
    width: 100%;
    margin-top: 0.8rem;
    border: none;
    padding: 1.2rem 2rem;
    border-radius: var(--border-radius);
    background-color: var( --hero-bg);
    color: var(--text-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
::placeholder {
    color: var(--text-color);
}

.form-control small {
    display: block;
    color: red;
    margin-top: 0.3rem;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: var(--text-transform);
}

.form-control textarea {
    height: 12rem;
    resize: none;
}

.submit-btn button {
    border: none;
    background-color: var(--color-nav-bg);
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    width: 100%;
    text-transform: uppercase;
    padding: 1.2rem 2rem;
    border-radius: var(--border-radius);
}

.submit-btn button:hover {
    background-color: var(--hero-bg);
}

.form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone {
    width: 32rem;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    position: relative;
}

.box {
    position: absolute;
    width: 3rem;
    height: 3rem;
}

.top {
    background-color: var(--color-nav-bg);
    border-bottom-right-radius: 2rem;
}

.bottom {
    right: 0;
    background-color: var( --hero-bg);
    border-top-left-radius: 2rem;
}

.phone img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ======SELECT OPTION =================== */
.form-control select {
    display: block;
    margin-top: 0.8rem;
    width: 100%;
    border: none;
    border-radius: var(--border-radius);
    padding: 1.2rem 2rem;
    font-family: inherit;
    font-size: 1.1rem;
    background-color: var( --hero-bg);
    color: var(--text-color);
    text-transform: var(--text-transform);
    position: relative;
   outline:0;
   cursor: pointer;
}

.form-control select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1rem;
        cursor:pointer;
        pointer-events:none;
        transition:.25s all ease;
}

@media screen and (max-width: 1000px) {
    .form-content {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
    }

    .form-container h2{
        text-align: center;
    }

    form {
        width: 100%;
    }

    .phone {
        width: 15rem;
        margin-top: 1rem;
    }
    .top,
    .bottom {
        display: none;
    }
    
}