@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Montserrat:wght@300;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  background-color: var(--color-bg);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  position: relative;
}

:root {
   --color-bg: #EAD7BB;
   --color-nav-bg: #113946;
   --text-color: #DAFFFB;
   --icon-color: #F4E869;
   --hero-bg: #016a70a4;
   --color-dark: #213555;

   --container-width-lg: 97%;
   --container-width-md: 98%;
   --container-width-sm: 99%;

   --container-padding: 1.4rem 2rem;


   --transition: transition: all 0.4s;
   --border-radius: 0.3rem;

   --text-transform: capitalize;
}


.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

@media screen and (max-width: 1000px){
  .container {
    width: var(--container-width-md);
  }
}
@media screen and (max-width: 600px){
  .container {
    width: var(--container-width-sm);
  }
}